
.container {
    max-width: 120rem!important;
    width: 90%!important;
    margin: 0 auto!important;
}

.mt-1 {
    margin-top: .5rem;
}

.mt-5 {
    margin-top: 2rem;
}

.mb-1 {
    margin-bottom: .5rem;
}

.mb-5 {
    margin-bottom: 2rem;
}

.text-center {
    text-align: center;
}