
.btn__box {
    @include d-flex( flex-end, center );
}

.btn {
    border: none;
    background-color: transparent;
    text-transform: uppercase;
    padding: 1rem 2rem;
    margin-top: 2rem;
    cursor: pointer;
    font-weight: 800;
    color: $white;
    font-size: 1.5rem;
    text-decoration: none;
}

.btn-primary {
    background-color: $primary;

    &:hover {
        background-color: lighten( $primary, 10 );
    }
}

.btn-block {
    display: block;
}

.btn-danger {
    background-color: #df3323;
    transition: all .3s ease;

    &:hover {
        background-color: lighten( #df3323, 5 );
        color: $white;
    }
}

.btn-link {
    color: darken($grey, 20);
    text-decoration: none;

    &:hover {
        color: $grey;
        text-decoration: underline;
    }
}

.google-btn {
    display: flex;
    align-items: center;
    background-color: #4385F4;
    padding: 1px;
    border-radius: 3px;
    box-shadow: 3px 3px 10px rgba( 0, 0, 0, .3);
    cursor: pointer;

    transition: box-shadow .3s ease;

    &:hover {
        box-shadow: 5px 5px 15px rgba( 67, 133, 244, .8);
    }
}

.google-text {
    width: 100%;
    background-color: #4385F4;

    & p {
        color: $white;
        font-size: 14px;
        font-weight: 700;
    }
}

.google-icon {
    background-color: $white;
    border-radius: 2px;
    height: 40px;
    width: 45px;

    @include d-flex( center, center );

    & img {
        height: 20px;
    }
} 